@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <div class="row">
           <div class="col-md-12">
                 <h3 class="display-5" style="padding:5%">Welcome to CovidOutApp.Web </h3>
           </div> 
        </div>
        <div class="row text-center" >
            <div class="col-md-6" id="Venue">
                <div class="card" style="width: 80%; margin:0px auto;">
                    <img class="card-img-top" src="~/images/venue_image.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">I own a venue</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="" class="btn btn-primary">Register your venue!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="Visitor">
                 <div class="card" style="width: 80%;margin:0px auto;">
                    <img class="card-img-top" src="~/images/Visitor.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">I am a venue visitor</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Report your details!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
