@model CovidOutApp.Web.ViewModels.VenueViewModel

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
<div asp-validation-summary="All"></div>
@Html.Partial("VenueDetailsPartial", Model)  
<a asp-action="Index">Back to List</a>

</body>
</html>
